/* Default styles */
.leaflet-container {
    width: 80% !important;
    margin-left: 20px !important;
    border-radius: 10px;
}

/* Media query for small screens (sm) */
@media (max-width: 640px) {
    .leaflet-container {
        margin-right: 35px !important;
    }
}

/* Media query for medium screens (md) */
@media (min-width: 641px) and (max-width: 768px) {
    .leaflet-container {
        margin-right: 90px !important;
    }
}
